@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.container{
  position: relative;
  width: 400px;
  height: 100px;
  background: rgb(255, 255, 255, .1);
    backdrop-filter: blur(30px);
  
    border: 2px solid rgb(255, 255, 255, .1);
  border-radius: 16px;
  padding: 20px;
  color: #fff;
  transition: height .6s ease;
}

.caixa-busca i {
  position: absolute;
  left: 10px;
  font-size: 28px;
}
.caixa-busca{
  position: relative;
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
}
.caixa-busca input {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  outline: none;
  border-radius: 10px;
  font-size: 22px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 48px 0 42 px;
  text-align: center;
}

.caixa-busca input::placeholder {
  color: #fff;
  text-transform: capitalize;
}

.caixa-busca button {
  position: absolute;
  right: 0;
  width: 40px;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 28px;
  color: #fff;
  padding: 0 40px 0 5px;
  cursor: pointer;
}

.caixa-tempo {
  text-align: center;
  margin: 40px 0;
}


.caixa-tempo.active,
.tempo-detalhes.active,
.not-found.active {
  visibility: visible;
}
.caixa-tempo .caixa,
.not-found .caixa {
  transform: translateY(-100%);
}
.caixa-tempo.active .caixa,
.not-found.active .caixa {
  transform: translateY(0%);
  transition: transform 1s ease;
  transition-delay: .6s;
}
.caixa-tempo,
.tempo-detalhes,
.not-found {
  overflow: hidden;
  visibility: hidden;
}
.caixa-tempo {
  text-align: center;
  margin: 40px 0;
}

.caixa-tempo .caixa .info-tempo {
  transform: translateY(-120%);
}

.container.active .caixa-tempo .caixa .info-tempo,
.container.active .tempo-detalhes .umidade .info-umidade,
.container.active .tempo-detalhes .vento .info-vento {
  transform: translateY(0%);
  transition: transform 1s ease;
}
.caixa-tempo img {
  width: 60%;
}
.caixa-tempo .temperatura {
  position: relative;
  font-size: 64px;
  line-height: 1;
  font-weight: 700;
  margin: 20px 0 6px -30px;
}

.caixa-tempo .temperatura span {
  position: absolute;
  font-size: 24px;
  margin-left: 4px;
}

.caixa-tempo .descricao {
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
}

.tempo-detalhes {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  padding: 0 20px;
  display: flex;
}

.tempo-detalhes .umidade,
.tempo-detalhes .vento {
  display: flex;
  align-items: center;
  width: 50%;
  transform: translateY(-100%);
}
  
.tempo-detalhes.active .umidade,
.tempo-detalhes.active .vento {
  transform: translateY(0%);
  transition: transform 1s ease;
  transition-delay: 1.2s;
}
.tempo-detalhes .umidade .info-umidade,
.tempo-detalhes .vento .info-vento {
  transform: translateY(-100%);
  overflow: hidden;
}
.tempo-detalhes .umidade {
  padding-left: 20px;
  justify-content: flex-start;
}

.tempo-detalhes .vento {
  padding-right: 20px;
  justify-content: flex-end;
}

.tempo-detalhes i {
  font-size: 56px;
  margin-right: 10px;
}

.tempo-detalhes span {
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
}

.tempo-detalhes p {
  font-size: 14px;
  font-weight: 500;
}
.not-found {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: 250px;
}

.not-found img {
  width: 20%;
}

.not-found p {
  font-size: 22px;
  font-weight: 500;
  margin-top: 12px;
  color: #fff;
}
.cidade-oculta {
  display: none;
}
#clone-info-tempo,
#clone-info-vento,
#clone-info-umidade {
  position: absolute;
  transform: translateY(-100%);
}

#clone-info-tempo .tempo {
  transform: translateY(120%);
  transition: transform 1s ease, opacity 0s;
  transition-delay: 0s, 2s;
}

.caixa-tempo:not(.active) #clone-info-tempo .tempo {
  opacity: 0;
  transition-delay: 0s;
}

.active-clone#clone-info-tempo .tempo {
  transform: translateY(0%);
}

#clone-info-umidade span,
#clone-info-vento span {
  transform: translateY(100%);
  transition: transform 1s ease;
}

.active-clone#clone-info-umidade span,
.active-clone#clone-info-vento span {
  transform: translateY(0%);
}